# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Environment specific settings
.*

# Binary directories
Debug

# CCS ad-hoc
*.cmd
targetConfigs
